/**************
Slide section 
**************/


.bakery-slides{
}
.bakery-slides .slide-item{
    width: 100%;
}
.bakery-slides .slide-item .slide-image img{
    width: 100%;
    height: 450px;
}
.bakery-slides .slide-item .slide-details{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
}
.bakery-slides .slide-item .slide-details .slide-title h1{
    text-align: center;
    font-size: 5.5rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color: var(--main-color-white);
}

.bakery-slides .slide-item .slide-details .slide-description{
    font-size: 1.3rem;
    color: var(--main-color-white);
}


/**************
Présentation section 
**************/

.presentation{
    margin-top: 500px;
}
.presentation .title h1{
    text-transform: uppercase;
    font-size: 4rem;
}
.presentation .text p{
    /*text-align: justify;*/
}
.illustration-item{
    width: 400px;
}
.illustration-item .image img{
    width: 100%;
    height: 300px;
}

.btn-our-product{
    margin-top: 20px;
}
.btn-our-product a,
.history .content .btn a{
    display: inline-block;
    height: 50px;
    width: 200px;
    margin: 20px;
    line-height: 50px;
    text-align: center;
    border-radius: 20px;
    background-color: var(--main-color-brown);
    color: var(--main-color-white);
}


/**************
section histoire 
**************/

.history{
    margin: 20px ;
    /* opacity: 0.4; */
}
.history .history-image img{
    height: 400px;
}
.history .content{
    margin: 10px 15px;
}
.history .content .history-title h1{
    text-align: center;
    margin: 20px 0;
}
/* .history .content .btn a{
    color: var(--main-color-white);
    margin: 25px 0;
    background-color: var(--main-color-brown);
    padding: 30px;
} */






/**************
La responsive 
**************/

@media screen  and (max-width:1228px){
    .history{
        flex-wrap: wrap;
    }
    .history .history-image{
        width: 100%;
    }
    .history .history-image img{
        width: 100%;
        height: 560px;
    }
    
}
@media screen  and (max-width:950px){
    /**** presentation *******/
    .illustration-item .image-details,
    .history .content .history-details,
    .presentation .text p{
       font-size: 0.95rem;
    }
    .presentation .title h1{
        font-size: 2rem;
    }
    
}

@media screen  and (max-width:815px){
    .illustration-item{
        width:100%;
        margin: 10px ;
    }
    .history{
        margin: 10px ;
        /* opacity: 0.4; */
    }
    
    .illustration-item .image img{
        border-radius: 10px;
    }
}
@media screen  and (max-width:500px){
    .bakery-slides .slide-item .slide-details{
        width:100%;
    }
    .bakery-slides .slide-item .slide-details .slide-description{
        font-size: 0.9rem;
        padding: 5px;
    }
}


