.panier{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}


.panier .delete,
.panier .btn{
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 20%);
}


.panier .btn{
    background-color:var(--main-color-brown);
}


table{
    border-collapse: collapse;
    margin: 15px;
}
table tfoot .price{
    background-color: var(--main-color-gray);
}
table td,
table th{
    border: 1px solid var(--main-color-gray);
    padding: 15px;
}
table tfoot td,
table tfoot th{
    border: none;
    padding-top: 20px;
}

