table{
    border-collapse: collapse;
    margin: 15px;
}
table td,
table th{
    border: 1px solid var(--main-color-gray);
    padding: 15px;
}
table tfoot td,
table tfoot th{
    border: none;
    padding-top: 20px;
}

