/*****************
la barre de navigation
***************/
header{
    padding: 0 20px;
    background-color: var(--main-color-black);
}

header .logo{
    color: var(--main-color-brown);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    font-style: oblique;
}

ul li:hover{
    background-color: var(--main-color-brown);
    cursor: pointer;
}
ul li{
    padding: 25px;
}
ul li a{
    font-weight: bold;
    color: var(--main-color-white);
}





/**** slide animation ****/

.bakery-slides .slide-item{
    animation: slide 20s linear infinite;
}

.bakery-slides .slide-item:nth-child(1){
    z-index: 4;
}
.bakery-slides .slide-item:nth-child(2){
    animation-delay: 5s;
}
.bakery-slides .slide-item:nth-child(3){
    animation-delay: 10s;
}


@keyframes slide{

    0%{
        z-index: 4;
    }
    30%{
        z-index: 3;
    }
    60%{
        z-index: 2;
    }
    90%,
    100%{
        z-index: 4;
    }
    

}





/**** Global ********/

.iden{
    width: 900px;
    margin: auto;
}

.container{
    min-height: 100vh;
    margin-top: 30px;
    text-align: center;
}
.container .description{
    font-size: 0.9rem;
}


/******* FOOTER **********/

footer{
    background-color: var(--main-color-black);
    color: var(--main-color-white);
    height: 200px;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
}




/*****************
La responsive 
*************************/

@media screen  and (max-width:950px){
    
    header .logo{
        font-size: 0.9rem;
    }
    header nav ul{
       gap:0 !important ;
    }
    .iden{
        width: 100%;
        margin: 5px;
    }
    ul li{
        padding: 25px 10px;
    }
    ul li a{
       font-size: 1.05rem;
    }
}

@media screen and (max-width:600px) {
    header nav{
        display: none !important;
    }
    header #collapse{
        display: block;
    }
    
}

